   /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

   html,
   body,
   div,
   span,
   applet,
   object,
   iframe,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   blockquote,
   pre,
   a,
   abbr,
   acronym,
   address,
   big,
   cite,
   code,
   del,
   dfn,
   em,
   img,
   ins,
   kbd,
   q,
   s,
   samp,
   small,
   strike,
   strong,
   sub,
   sup,
   tt,
   var,
   b,
   u,
   i,
   center,
   dl,
   dt,
   dd,
   ol,
   ul,
   li,
   fieldset,
   form,
   label,
   legend,
   table,
   caption,
   tbody,
   tfoot,
   thead,
   tr,
   th,
   td,
   article,
   aside,
   canvas,
   details,
   embed,
   figure,
   figcaption,
   footer,
   header,
   hgroup,
   menu,
   nav,
   output,
   ruby,
   section,
   summary,
   time,
   mark,
   audio,
   video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article,
   aside,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section {
     display: block;
   }

   body {
     line-height: 1;
   }

   ol,
   ul {
     list-style: none;
   }

   blockquote,
   q {
     quotes: none;
   }

   blockquote:before,
   blockquote:after,
   q:before,
   q:after {
     content: '';
     content: none;
   }

   table {
     border-collapse: collapse;
     border-spacing: 0;
   }

   html,
   body {
     margin: 0;
     padding: 0;
   }

   body {
     background: #695189;
     color: black;
     background-image: url("pic.jpg");

     background-size: 1100px;
     background-repeat: no-repeat;
     background-position-x: center;
     font-weight: bold;
   }

   a {
     color: #daa520;
   }

   a:hover {
     background-color: #daa520;
     color: #695189;
     padding: 30px;
   }

   header h1 {
     text-align: center;
     background: #6951a9;
     color: #daa520;
     margin: 0;
     padding: 1em;
     overflow: auto;
     border: 5px solid goldenrod;
     font-size: 200%;
   }

   .content {

     padding: 50px 0px 30px 20px;
     overflow: auto;
     background-color: rgba(218, 164, 32, 0.65);
     margin: auto;
     margin-top: 600px;
     border: 10px solid goldenrod;
     width: 50%;
   }


   .bio {
     float: left;
     width: 100%;
     overflow: auto;


   }

   .contact {
     float: left;

   }

   .bio img {
     float: left;
     padding-right: 1em;
     padding-bottom: 1em;
   }

   #header-e1 {
     float: left;
     width: 33%
   }

   #header-e2 {
     float: right;
     width: 33%
   }

   #header-e3 {
     float: right;
     width: 33%
   }

   h2 {
     font-size: 150%
   }





   @media only screen and (max-width: 768px) {
     .bio img {
       width: 100%;

     }

     .content {
       margin: auto;
       margin-top: 600px;
       width: 75%;

       font-size: 150%
     }
   }

   @media screen and (max-width: 640px) {
     .bio img {
       width: 100%;
     }

     #header-e1 {
       float: none;
       width: 100%;
       font-size: 125%;
     }

     #header-e2 {
       float: none;
       width: 100%;
       font-size: 125%
     }

     #header-e3 {
       float: none;
       width: 100%;
       font-size: 125%;
     }

     body {

       background-size: 640px;

     }

     .content {
       text-align: auto;
       padding: 10px 0px 30px 20px;
       background-color: rgba(218, 164, 32, 0.65);
       margin-right: 100px;
       margin-top: 190px;
       margin-left: 0px;
       border: 10px solid goldenrod;
       width: 100%;
     }


     .bio {
       width: 100%;
       font-size: 125%;
     }

     h2 {
       font-size: 150%;
     }
   }