body {
    background: #6951a9
}

h1 {
color: #d4af37;
margin-left: 500px;
font-size: 300%;
}

li {color: #d4af37}

.linkToApp {

    margin-left: 550px;
    margin-right: auto;
    color: goldenrod;
    font-size: 200%;
    
  }

.portfoliopic {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.list {
    
    margin: auto;
    text-align: left;
}


  

@media only screen and (max-width: 940px){
        .portfoliopic {
        margin: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
   .portfoliopic {
       margin: auto;
       max-width: 100%;
   }
     
@media only screen and (max-width: 640px) { 
    
  
    
    .portfoliopic {
        margin: auto;
       max-width: 100%;
    }
}

}
      
      
     